body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto; 
}
header{
    background-color: #062f50;
    width: auto; 
    height: auto;
}
.logo img{
    width: 20%;
    padding: 5px; 
    border-radius: 50px;
    }

.navegacao{
    overflow: hidden;
}
.navegacao a{
float:right;
display:block;
color:#fa0000;
padding: 10px;
text-decoration: none;
text-align: right;
}
.navegacao a:hover{
 color: #fa0000;
 background-color: #06508b;
}
.h1{
    text-align: center;
}
.restaurantes{
    display: flex;
    flex-direction: column;
}
.r1, .r2, .r3{
    float: center;
    margin: 15px 60px 45px 15px;
    background-color: #0f77cc28;
    padding: 15px;
    height: 45%;
    border-radius: 5px;
    box-shadow:10px 10px 10px #06508b;
}

.r1 img,.r2 img, .r3 img{
    width: 45%;
}
.rodape{
    position: relative;
    background-color: #062f50;
    top: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
.rodape p{
    text-align: center;
    color: #fa0000;
}
.imagem img{
    position: absolute;
    width: 200px;
}
.conteudo img{
   align-items: center;
   width: 50px;
   margin-top: 2vw;
   padding-bottom: 50px;
}
#imginsta{
    margin-left: 47.5%;
}

@media screen and (max-width: 600px){
    .column{
        width: 100%;
    }

}
    